[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
interpreter_python = auto_silent
nocows = 1
retry_files_enabled = False
roles_path = roles:~/.ansible/roles:/usr/share/ansible/roles
collections_path = collections:~/.ansible/collections:/usr/share/ansible/collections

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
